# Решение задач из списка SQL50 на leetcode

## 1757.Перерабатываемые и низкокалорийные продукты

Задача состоит в том, что бы вывести идентификаторы продуктов по определенным условиям.

Условия:
 - поле low_fats содержит Y;
 - поле recyclable содержит Y.

Сортировка любая.

In [ ]:
-- Write your PostgreSQL query statement below
SELECT
    product_id
FROM
    Products
WHERE
    low_fats = 'Y'
    AND
    recyclable = 'Y';

Инсайды:
 - узнал о существовании типа данных ENUM

## 584.Поиск реферала пользователя

Нужно найти тех клиентов, у которых поле referee_id не равно 2.

*Вернуть таблицу, в которой содержатся только те клиенты, у которых referee_id отличается от 2, или отсутствует вообще (значение null).*

In [ ]:
-- первое решение было неверным, невнимательно прочел условия
SELECT name
FROM Customer
WHERE referee_id != 2 AND referee_id IS NOT NULL;

-- верное решение
SELECT name
FROM Customer
WHERE referee_id != 2 OR referee_id IS NULL;

## 595.Большие страны

Нужно вывести название, популяцию и площадь большиз стран.
Большая страна по условию должна быть полщадью как минимум 3 млн $км^2$ и численностью населения как минимум 25 млн человек

In [ ]:
SELECT name, population, area
FROM World
WHERE
    area >= 3000000
    OR
    population >= 25000000;

## 1148.Просмотры статей I

Напишите решение, чтобы найти всех авторов, которые просмотрели хотя бы одну из своих статей.

Верните результирующую таблицу, отсортированную по идентификатору в порядке возрастания.

In [ ]:
SELECT DISTINCT(author_id) AS id
FROM Views
WHERE viewer_id = author_id 
ORDER BY id;

## 1683.Невалидные твиты

Напишите решение, чтобы найти идентификаторы недействительных твитов. Твит считается недействительным, если количество символов в его содержимом строго больше 15.

In [ ]:
SELECT tweet_id
FROM Tweets
WHERE LENGTH(content) > 15;