# Решение задач из списка SQL50 на leetcode

## 1757.Перерабатываемые и низкокалорийные продукты

Задача состоит в том, что бы вывести идентификаторы продуктов по определенным условиям.

Условия:
 - поле low_fats содержит Y;
 - поле recyclable содержит Y.

Сортировка любая.

In [ ]:
-- Write your PostgreSQL query statement below
SELECT
    product_id
FROM
    Products
WHERE
    low_fats = 'Y'
    AND
    recyclable = 'Y';

## 584.Поиск реферала пользователя

Нужно найти тех клиентов, у которых поле referee_id не равно 2.

*Вернуть таблицу, в которой содержатся только те клиенты, у которых referee_id отличается от 2, или отсутствует вообще (значение null).*

In [ ]:
-- первое решение было неверным, невнимательно прочел условия
SELECT name
FROM Customer
WHERE referee_id != 2 AND referee_id IS NOT NULL;

-- верное решение
SELECT name
FROM Customer
WHERE referee_id != 2 OR referee_id IS NULL;

## 595.Большие страны

Нужно вывести название, популяцию и площадь большиз стран.
Большая страна по условию должна быть полщадью как минимум 3 млн $км^2$ и численностью населения как минимум 25 млн человек

In [ ]:
SELECT name, population, area
FROM World
WHERE
    area >= 3000000
    OR
    population >= 25000000;

## 1148.Просмотры статей I

Напишите решение, чтобы найти всех авторов, которые просмотрели хотя бы одну из своих статей.

Верните результирующую таблицу, отсортированную по идентификатору в порядке возрастания.

In [ ]:
SELECT DISTINCT(author_id) AS id
FROM Views
WHERE viewer_id = author_id 
ORDER BY id;

## 1683.Невалидные твиты

Напишите решение, чтобы найти идентификаторы недействительных твитов. Твит считается недействительным, если количество символов в его содержимом строго больше 15.

In [ ]:
SELECT tweet_id
FROM Tweets
WHERE LENGTH(content) > 15;

## 1378:Replace Employee ID With The Unique Identifier

Даны две таблицы:
 - Employees:
     - id (INT): ID сотрудника.
     - name (VARCHAR): Имя сотрудника.

 - EmployeeUNI:
     - id (INT): ID сотрудника.
     - unique_id (INT): Уникальный идентификатор сотрудника.

Нужно вывести таблицу с именами всех сотрудников и их уникальными идентификаторами. Если у сотрудника нет уникального идентификатора, нужно вернуть null вместо уникального идентификатора.

In [ ]:
SELECT
    eu.unique_id as unique_id, 
    e.name as name
FROM
    Employees AS e 
LEFT JOIN
    EmployeeUNI AS eu
    ON 
    e.id = eu.id;

## 1068.Product Sales Analysis I

Напишите запрос, чтобы вывести product_name, year и price для каждого sale_id в таблице Sales.

Верните результирующую таблицу в произвольном порядке.

In [ ]:
SELECT
    p.product_name, 
    s.year, 
    s.price
FROM 
    Sales AS s 
LEFT JOIN 
    Product AS p
    ON 
    p.product_id = s.product_id

## 1581.Customer Who Visited but Did Not Make Any Transactions

Напишите запрос, чтобы найти идентификаторы пользователей, которые посещали сайт, но не совершали транзакций, а также количество таких посещений для каждого пользователя.

In [ ]:
SELECT
    v.customer_id,
    COUNT(v.customer_id) AS count_no_trans
FROM
    Visits v
LEFT JOIN
    Transactions t
    ON
    v.visit_id = t.visit_id
WHERE
    t.visit_id IS NULL
GROUP BY
    v.customer_id;

## 197.Rising Temperature

Напишите SQL-запрос, чтобы найти все даты, когда температура была выше, чем в предыдущий день.

Возвращаемая таблица должна содержать колонки:

- `Id` — уникальный идентификатор записи,
- `RecordDate` — дата записи,
- `Temperature` — значение температуры.

Вы должны отсортировать результат по `Id`.

**Пример:**

Дано таблицу `Weather`:

| Id  | RecordDate | Temperature |
|-----|------------|-------------|
| 1   | 2015-01-01 | 10          |
| 2   | 2015-01-02 | 25          |
| 3   | 2015-01-03 | 20          |
| 4   | 2015-01-04 | 30          |

Ваш запрос должен вернуть следующий результат:

| Id  | RecordDate | Temperature |
|-----|------------|-------------|
| 2   | 2015-01-02 | 25          |
| 4   | 2015-01-04 | 30          |

**Объяснение:**

- 25°C 2 января больше, чем 10°C 1 января.
- 30°C 4 января больше, чем 20°C 3 января.

In [ ]:
SELECT current_day.id
FROM Weather AS current_day
WHERE EXISTS (
    SELECT 1
    FROM Weather AS yesterday
    WHERE current_day.temperature > yesterday.temperature
    AND current_day.recordDate = yesterday.recordDate + 1
);

## 1661.Average Time of Process per Machine

**Описание**

Дана таблица `Activity`, которая содержит информацию о процессах, выполненных на различных машинах. Таблица имеет следующий формат:

| Имя колонки | Тип     |
|-------------|---------|
| machine_id  | int     |
| process_id  | int     |
| activity_type | enum   |
| timestamp   | float   |

- `machine_id` — идентификатор машины.
- `process_id` — идентификатор процесса.
- `activity_type` — может принимать одно из двух значений: `'start'` (начало процесса) или `'end'` (завершение процесса).
- `timestamp` — время (в секундах) завершения или начала процесса.

Напишите запрос SQL, который вернет среднее время выполнения процесса для каждой машины. Время выполнения процесса определяется как разница между `end` и `start` временными метками для одного и того же процесса на одной машине.

Верните таблицу с двумя колонками:
- `machine_id` — идентификатор машины.
- `avg_time` — среднее время выполнения процессов на этой машине, округлённое до трёх знаков после запятой.

Результат должен быть отсортирован по `machine_id` в порядке возрастания.

**Пример**:

Входные данные:

| machine_id | process_id | activity_type | timestamp |
|------------|------------|---------------|-----------|
| 0          | 0          | start         | 15721.0   |
| 0          | 0          | end           | 15723.0   |
| 0          | 1          | start         | 15724.0   |
| 0          | 1          | end           | 15729.0   |
| 1          | 2          | start         | 15721.0   |
| 1          | 2          | end           | 15722.0   |
| 1          | 3          | start         | 15725.0   |
| 1          | 3          | end           | 15725.5   |

Выходные данные:

| machine_id | avg_time |
|------------|----------|
| 0          | 3.500    |
| 1          | 0.750    |

**Объяснение**:
- На машине `0`, процесс `0` длился 2 секунды, а процесс `1` — 5 секунд. Среднее время = (2 + 5) / 2 = 3.5 секунды.
- На машине `1`, процесс `2` длился 1 секунду, а процесс `3` — 0.5 секунды. Среднее время = (1 + 0.5) / 2 = 0.75 секунды.

**Основные моменты**:
- Нужно правильно сопоставить начало и конец процесса.
- Нужно рассчитать время выполнения для каждого процесса.
- Округлить результат до 3 знаков после запятой.

In [ ]:
SELECT machine_id,
       ROUND(AVG((end_time - start_time)::numeric), 3) AS processing_time
FROM (
    SELECT machine_id,
           MAX(CASE WHEN activity_type = 'start' THEN timestamp END) AS start_time,
           MAX(CASE WHEN activity_type = 'end' THEN timestamp END) AS end_time
    FROM Activity
    GROUP BY machine_id, process_id
) AS process_times
GROUP BY machine_id
ORDER BY machine_id ASC;

## 577.Employee Bonus

Напишите решение, которое сообщит имя и сумму премии каждого сотрудника с премией меньше 1000.

In [ ]:
SELECT
    e.name,
    b.bonus
FROM
    Employee e
LEFT JOIN
    Bonus b 
USING 
    empId
WHERE
    b.bonus < 1000 OR bonus IS NULL

## 1280.Students and Examinations

In [ ]:
SELECT 
    s.student_id, 
    s.student_name, 
    sub.subject_name, 
    COUNT(e.student_id) AS attended_exams
FROM 
    Students s
CROSS JOIN
    Subjects sub
LEFT JOIN 
    Examinations e 
    ON s.student_id = e.student_id 
        AND sub.subject_name = e.subject_name
GROUP BY 
    s.student_id, s.student_name, sub.subject_name
ORDER BY 
    s.student_id, sub.subject_name;

## 570.Managers with at Least 5 Direct Reports

In [ ]:
-- Write your PostgreSQL query statement below
SELECT 
    name
FROM 
    Employee
WHERE 
    id IN (
        SELECT managerId 
        FROM employee 
        GROUP BY managerId 
        HAVING count(id) >= 5
);

In [ ]:
-- Write your PostgreSQL query statement below
with managers as (
select managerId
from employee
group by managerId
having count(id)>=5)

select e.name
from managers m
join employee e on e.id=m.managerid