# Решение задач из списка SQL50 на leetcode

## Select

### 1757.Перерабатываемые и низкокалорийные продукты

Задача состоит в том, что бы вывести идентификаторы продуктов по определенным условиям.

Условия:
 - поле low_fats содержит Y;
 - поле recyclable содержит Y.

Сортировка любая.

In [ ]:
-- Write your PostgreSQL query statement below
SELECT
    product_id
FROM
    Products
WHERE
    low_fats = 'Y'
    AND
    recyclable = 'Y';

### 584.Поиск реферала пользователя

Нужно найти тех клиентов, у которых поле referee_id не равно 2.

*Вернуть таблицу, в которой содержатся только те клиенты, у которых referee_id отличается от 2, или отсутствует вообще (значение null).*

In [ ]:
-- первое решение было неверным, невнимательно прочел условия
SELECT name
FROM Customer
WHERE referee_id != 2 AND referee_id IS NOT NULL;

-- верное решение
SELECT name
FROM Customer
WHERE referee_id != 2 OR referee_id IS NULL;

### 595.Большие страны

Нужно вывести название, популяцию и площадь большиз стран.
Большая страна по условию должна быть полщадью как минимум 3 млн $км^2$ и численностью населения как минимум 25 млн человек

In [ ]:
SELECT name, population, area
FROM World
WHERE
    area >= 3000000
    OR
    population >= 25000000;

### 1148.Просмотры статей I

Напишите решение, чтобы найти всех авторов, которые просмотрели хотя бы одну из своих статей.

Верните результирующую таблицу, отсортированную по идентификатору в порядке возрастания.

In [ ]:
SELECT DISTINCT(author_id) AS id
FROM Views
WHERE viewer_id = author_id 
ORDER BY id;

### 1683.Невалидные твиты

Напишите решение, чтобы найти идентификаторы недействительных твитов. Твит считается недействительным, если количество символов в его содержимом строго больше 15.

In [ ]:
SELECT tweet_id
FROM Tweets
WHERE LENGTH(content) > 15;

## Basic joins

### 1378:Replace Employee ID With The Unique Identifier

Даны две таблицы:
 - Employees:
     - id (INT): ID сотрудника.
     - name (VARCHAR): Имя сотрудника.

 - EmployeeUNI:
     - id (INT): ID сотрудника.
     - unique_id (INT): Уникальный идентификатор сотрудника.

Нужно вывести таблицу с именами всех сотрудников и их уникальными идентификаторами. Если у сотрудника нет уникального идентификатора, нужно вернуть null вместо уникального идентификатора.

In [ ]:
SELECT
    eu.unique_id as unique_id, 
    e.name as name
FROM
    Employees AS e 
LEFT JOIN
    EmployeeUNI AS eu
    ON 
    e.id = eu.id;

### 1068.Product Sales Analysis I

Напишите запрос, чтобы вывести product_name, year и price для каждого sale_id в таблице Sales.

Верните результирующую таблицу в произвольном порядке.

In [ ]:
SELECT
    p.product_name, 
    s.year, 
    s.price
FROM 
    Sales AS s 
LEFT JOIN 
    Product AS p
    ON 
    p.product_id = s.product_id

### 1581.Customer Who Visited but Did Not Make Any Transactions

Напишите запрос, чтобы найти идентификаторы пользователей, которые посещали сайт, но не совершали транзакций, а также количество таких посещений для каждого пользователя.

In [ ]:
SELECT
    v.customer_id,
    COUNT(v.customer_id) AS count_no_trans
FROM
    Visits v
LEFT JOIN
    Transactions t
    ON
    v.visit_id = t.visit_id
WHERE
    t.visit_id IS NULL
GROUP BY
    v.customer_id;

### 197.Rising Temperature

Напишите SQL-запрос, чтобы найти все даты, когда температура была выше, чем в предыдущий день.

Возвращаемая таблица должна содержать колонки:

- `Id` — уникальный идентификатор записи,
- `RecordDate` — дата записи,
- `Temperature` — значение температуры.

Вы должны отсортировать результат по `Id`.

**Пример:**

Дано таблицу `Weather`:

| Id  | RecordDate | Temperature |
|-----|------------|-------------|
| 1   | 2015-01-01 | 10          |
| 2   | 2015-01-02 | 25          |
| 3   | 2015-01-03 | 20          |
| 4   | 2015-01-04 | 30          |

Ваш запрос должен вернуть следующий результат:

| Id  | RecordDate | Temperature |
|-----|------------|-------------|
| 2   | 2015-01-02 | 25          |
| 4   | 2015-01-04 | 30          |

**Объяснение:**

- 25°C 2 января больше, чем 10°C 1 января.
- 30°C 4 января больше, чем 20°C 3 января.

In [ ]:
SELECT current_day.id
FROM Weather AS current_day
WHERE EXISTS (
    SELECT 1
    FROM Weather AS yesterday
    WHERE current_day.temperature > yesterday.temperature
    AND current_day.recordDate = yesterday.recordDate + 1
);

### 1661.Average Time of Process per Machine

**Описание**

Дана таблица `Activity`, которая содержит информацию о процессах, выполненных на различных машинах. Таблица имеет следующий формат:

| Имя колонки | Тип     |
|-------------|---------|
| machine_id  | int     |
| process_id  | int     |
| activity_type | enum   |
| timestamp   | float   |

- `machine_id` — идентификатор машины.
- `process_id` — идентификатор процесса.
- `activity_type` — может принимать одно из двух значений: `'start'` (начало процесса) или `'end'` (завершение процесса).
- `timestamp` — время (в секундах) завершения или начала процесса.

Напишите запрос SQL, который вернет среднее время выполнения процесса для каждой машины. Время выполнения процесса определяется как разница между `end` и `start` временными метками для одного и того же процесса на одной машине.

Верните таблицу с двумя колонками:
- `machine_id` — идентификатор машины.
- `avg_time` — среднее время выполнения процессов на этой машине, округлённое до трёх знаков после запятой.

Результат должен быть отсортирован по `machine_id` в порядке возрастания.

**Пример**:

Входные данные:

| machine_id | process_id | activity_type | timestamp |
|------------|------------|---------------|-----------|
| 0          | 0          | start         | 15721.0   |
| 0          | 0          | end           | 15723.0   |
| 0          | 1          | start         | 15724.0   |
| 0          | 1          | end           | 15729.0   |
| 1          | 2          | start         | 15721.0   |
| 1          | 2          | end           | 15722.0   |
| 1          | 3          | start         | 15725.0   |
| 1          | 3          | end           | 15725.5   |

Выходные данные:

| machine_id | avg_time |
|------------|----------|
| 0          | 3.500    |
| 1          | 0.750    |

**Объяснение**:
- На машине `0`, процесс `0` длился 2 секунды, а процесс `1` — 5 секунд. Среднее время = (2 + 5) / 2 = 3.5 секунды.
- На машине `1`, процесс `2` длился 1 секунду, а процесс `3` — 0.5 секунды. Среднее время = (1 + 0.5) / 2 = 0.75 секунды.

**Основные моменты**:
- Нужно правильно сопоставить начало и конец процесса.
- Нужно рассчитать время выполнения для каждого процесса.
- Округлить результат до 3 знаков после запятой.

In [ ]:
SELECT machine_id,
       ROUND(AVG((end_time - start_time)::numeric), 3) AS processing_time
FROM (
    SELECT machine_id,
           MAX(CASE WHEN activity_type = 'start' THEN timestamp END) AS start_time,
           MAX(CASE WHEN activity_type = 'end' THEN timestamp END) AS end_time
    FROM Activity
    GROUP BY machine_id, process_id
) AS process_times
GROUP BY machine_id
ORDER BY machine_id ASC;

### 577.Employee Bonus

Напишите решение, которое сообщит имя и сумму премии каждого сотрудника с премией меньше 1000.

In [ ]:
SELECT
    e.name,
    b.bonus
FROM
    Employee e
LEFT JOIN
    Bonus b 
USING 
    empId
WHERE
    b.bonus < 1000 OR bonus IS NULL

### 1280.Students and Examinations

In [ ]:
SELECT 
    s.student_id, 
    s.student_name, 
    sub.subject_name, 
    COUNT(e.student_id) AS attended_exams
FROM 
    Students s
CROSS JOIN
    Subjects sub
LEFT JOIN 
    Examinations e 
    ON s.student_id = e.student_id 
        AND sub.subject_name = e.subject_name
GROUP BY 
    s.student_id, s.student_name, sub.subject_name
ORDER BY 
    s.student_id, sub.subject_name;

### 570.Managers with at Least 5 Direct Reports

In [ ]:
-- Write your PostgreSQL query statement below
SELECT 
    name
FROM 
    Employee
WHERE 
    id IN (
        SELECT managerId 
        FROM employee 
        GROUP BY managerId 
        HAVING count(id) >= 5
);

### 570.Managers with at Least 5 Direct Reports

In [ ]:
-- Write your PostgreSQL query statement below
WITH managers AS
    (SELECT managerId
     FROM employee
     GROUP BY managerId
     HAVING count(id)>=5)
SELECT e.name
FROM managers m
JOIN employee e ON e.id=m.managerid

### 1934.Confirmation Rate

In [ ]:
SELECT s.user_id,
       ROUND(AVG(CASE
                     WHEN action = 'confirmed' THEN 1
                     ELSE 0
                 END),2) AS confirmation_rate
FROM signups s
LEFT JOIN confirmations c ON s.user_id = c.user_id
GROUP BY s.user_id;

### 620.Not Boring Movies

In [ ]:
SELECT *
FROM Cinema
WHERE id % 2 = 1
    AND description != 'boring'
ORDER BY rating DESC;

##

In [ ]:
SELECT p.product_id,
       COALESCE(ROUND(SUM(us.units * p.price)::numeric / SUM(units), 2), 0) AS average_price
FROM Prices p
LEFT JOIN UnitsSold us ON us.product_id = p.product_id
AND us.purchase_date BETWEEN p.start_date AND p.end_date
GROUP BY (p.product_id)

### 1075.Project Employees I

In [ ]:
SELECT p.project_id,
       ROUND(AVG(e.experience_years), 2) average_years
FROM Project p
LEFT JOIN Employee e USING (employee_id)
GROUP BY p.project_id;

### 1633.Percentage of Users Attended a Contest

In [ ]:
SELECT contest_id,
       ROUND( COUNT(DISTINCT user_id) * 100 /
                 (SELECT COUNT(user_id)
                  FROM Users)::dec , 2) AS percentage
FROM Register
GROUP BY contest_id
ORDER BY percentage DESC,
         contest_id;

### 1211.Queries Quality and Percentage

In [ ]:
SELECT query_name,
       ROUND(AVG(rating / position::decimal), 2) quality,
       ROUND(SUM((rating < 3)::int) * 100. / COUNT(*), 2) poor_query_percentage
FROM Queries
WHERE query_name IS NOT NULL
GROUP BY query_name;

### 1193.Monthly Transactions I

Таблица: `Transactions`

| Название колонки | Тип    |
|------------------|--------|
| id               | int    |
| country          | varchar|
| state            | enum   |
| amount           | int    |
| trans_date       | date   |

`id` является первичным ключом этой таблицы. Таблица содержит информацию о входящих транзакциях. Колонка `state` имеет тип enum с возможными значениями ["approved", "declined"].

Напишите SQL-запрос, чтобы найти для каждого месяца и страны количество транзакций и их общую сумму, количество одобренных транзакций и их общую сумму.

Верните результирующую таблицу в любом порядке.

In [ ]:
-- Write your PostgreSQL query statement below
SELECT TO_CHAR(trans_date, 'YYYY-MM') AS month,
       country,
       COUNT(*) AS trans_count,
       COUNT(state) FILTER (WHERE state = 'approved') AS approved_count,
       SUM(amount) AS trans_total_amount,
       COALESCE(SUM(amount) FILTER (WHERE state = 'approved'), 0) AS approved_total_amount
FROM Transactions
GROUP BY month, country;

### 1174. Immediate Food Delivery II

Таблица: Delivery

| Column Name                 | Type    |
|-----------------------------|---------|
| delivery_id                 | int     |
| customer_id                 | int     |
| order_date                  | date    |
| customer_pref_delivery_date | date    |

- `delivery_id` является уникальным столбцом этой таблицы.
- Таблица содержит информацию о доставке еды клиентам, которые делают заказы в определённый день и указывают предпочтительную дату доставки (в тот же день или позже).
  
Если предпочтительная дата доставки клиента совпадает с датой заказа, заказ называется "немедленным" (immediate); в противном случае заказ называется "запланированным" (scheduled).

Первый заказ клиента — это заказ с самой ранней датой заказа, который клиент сделал. Гарантируется, что у каждого клиента есть ровно один первый заказ.

**Задача:** Напишите SQL-запрос для вычисления процента немедленных заказов среди первых заказов всех клиентов, округлённого до двух знаков после запятой.

**Пример 1:**

Ввод:

Таблица Delivery:

| delivery_id | customer_id | order_date | customer_pref_delivery_date |
|-------------|-------------|------------|-----------------------------|
| 1           | 1           | 2019-08-01 | 2019-08-02                  |
| 2           | 2           | 2019-08-02 | 2019-08-02                  |
| 3           | 1           | 2019-08-11 | 2019-08-12                  |
| 4           | 3           | 2019-08-24 | 2019-08-24                  |
| 5           | 3           | 2019-08-21 | 2019-08-22                  |
| 6           | 2           | 2019-08-11 | 2019-08-13                  |
| 7           | 4           | 2019-08-09 | 2019-08-09                  |

Вывод:

| immediate_percentage |
|----------------------|
| 50.00                |

**Объяснение:**

- У клиента с `customer_id = 1` первый заказ — это заказ с `delivery_id = 1`, и это запланированный заказ.
- У клиента с `customer_id = 2` первый заказ — это заказ с `delivery_id = 2`, и это немедленный заказ.
- У клиента с `customer_id = 3` первый заказ — это заказ с `delivery_id = 5`, и это запланированный заказ.
- У клиента с `customer_id = 4` первый заказ — это заказ с `delivery_id = 7`, и это немедленный заказ.

Таким образом, у половины клиентов первый заказ был немедленным, что даёт 50%.

In [ ]:
SELECT ROUND(AVG(CASE
                     WHEN order_date = customer_pref_delivery_date THEN 1
                     ELSE 0
                 END)*100, 2) AS immediate_percentage
FROM Delivery
WHERE (customer_id,
       order_date) IN
        ( SELECT customer_id,
                 MIN(order_date)
         FROM Delivery
         GROUP BY customer_id)

In [ ]:
-- Write your PostgreSQL query statement below

select round(count(*)::numeric/
                 (select count(distinct player_id)
                  from Activity), 2) as fraction
from Activity
where (player_id,
       event_date) in
        ( select player_id,
                 min(event_date) + 1
         from Activity
         group by player_id )

## Sorting and Grouping

### 2356.Number of Unique Subjects Taught by Each Teacher

**Задача**  
Есть таблица `Teacher`:

| Column Name | Type |
|-------------|------|
| teacher_id  | int  |
| subject_id  | int  |
| dept_id     | int  |


Первичный ключ (уникальные комбинации) в таблице – это сочетание полей `(subject_id, dept_id)`. Каждая строка в этой таблице указывает на то, что учитель с `teacher_id` преподает предмет с `subject_id` в департаменте с `dept_id`.

**Требуется**  
Написать запрос, который вычисляет количество уникальных предметов, которые преподает каждый учитель в университете.

**Формат вывода**  
Результат можно выводить в любом порядке.

In [ ]:
-- Write your PostgreSQL query statement below
SELECT teacher_id,
       COUNT(DISTINCT subject_id) AS cnt
FROM Teacher
GROUP BY teacher_id;

### 1141. User Activity for the Past 30 Days I

Вот перевод задачи и таблица, отформатированная для вставки в markdown:

### Таблица: Activity

| Название колонки | Тип    |
|------------------|--------|
| user_id          | int    |
| session_id       | int    |
| activity_date    | date   |
| activity_type    | enum   |

Эта таблица может содержать дублирующиеся строки. Колонка `activity_type` — это ENUM (перечисление) с категориями ('open_session', 'end_session', 'scroll_down', 'send_message'). Таблица показывает активность пользователей на сайте социальной сети. Обратите внимание, что каждая сессия принадлежит только одному пользователю.

### Задача:

Напишите решение для нахождения количества активных пользователей за каждый день за период в 30 дней, заканчивающийся включительно 27 июля 2019 года. Пользователь считается активным в какой-либо день, если он совершил хотя бы одно действие в этот день.

Возвращаемая таблица может быть в любом порядке.

In [ ]:
SELECT activity_date "day", COUNT(DISTINCT user_id) active_users
FROM Activity
WHERE '2019-07-28' - activity_date <= 30 AND '2019-07-28' - activity_date > 0
GROUP BY activity_date
HAVING COUNT(activity_type) >= 1

### 1070.Product Sales Analysis III

In [ ]:
-- Write your PostgreSQL query statement below
WITH CTE AS (
    SELECT product_id, MIN(year) AS minyear FROM Sales 
    GROUP BY product_id 
)

SELECT s.product_id, s.year AS first_year, s.quantity, s.price 
FROM Sales s
INNER JOIN CTE ON cte.product_id = s.product_id  AND s.year = cte.minyear;

### 1729.Find Followers Count

In [ ]:
SELECT user_id,
       COUNT(follower_id) followers_count
FROM Followers
GROUP BY user_id
ORDER BY user_id;

### 1045.Customers Who Bought All Products

In [ ]:
SELECT customer_id
FROM Customer
GROUP BY customer_id
HAVING COUNT(DISTINCT product_key) = (SELECT COUNT(DISTINCT product_key)
            FROM PRODUCT)

## Advanced Select and Joins

### 1731. The Number of Employees Which Report to Each Employee

In [ ]:
SELECT e1.employee_id,
       e1.name,
       COUNT(e2.reports_to) reports_count,
       AVG(e2.age)::int average_age
FROM Employees e1
JOIN Employees e2
       ON e1.employee_id = e2.reports_to
GROUP BY e1.employee_id, e1.name
ORDER BY e1.employee_id;

### 1789.Primary Department for Each Employee

Задача:

У вас есть таблица `Employee`, которая содержит данные о сотрудниках и департаментах, к которым они принадлежат. Сотрудник может быть частью нескольких департаментов, и в каждом департаменте указывается, является ли этот департамент основным для сотрудника. Необходимо написать решение, которое выведет всех сотрудников с их основным департаментом. Если сотрудник принадлежит только одному департаменту, вывести этот департамент, даже если он не является основным.

**Таблица: Employee**

| Название столбца | Тип      |
|------------------|----------|
| employee_id      | int      |
| department_id    | int      |
| primary_flag     | varchar  |

- `(employee_id, department_id)` является первичным ключом (комбинация уникальных значений).
- `employee_id` — идентификатор сотрудника.
- `department_id` — идентификатор департамента, к которому относится сотрудник.
- `primary_flag` — это ENUM (перечислимый тип) значений `'Y'` или `'N'`. Если значение `'Y'`, то департамент является основным для сотрудника. Если `'N'`, департамент не является основным.

### Пример данных:

| employee_id | department_id | primary_flag |
|-------------|---------------|--------------|
| 1           | 1             | Y            |
| 2           | 1             | N            |
| 2           | 2             | Y            |
| 3           | 3             | N            |

### Пример результата:

| employee_id | department_id |
|-------------|---------------|
| 1           | 1             |
| 2           | 2             |
| 3           | 3             |

### Описание:

- Нужно вывести для каждого сотрудника его основной департамент.
- Если сотрудник состоит только в одном департаменте, даже если `primary_flag` установлен в `'N'`, нужно вывести этот департамент.

In [ ]:
SELECT DISTINCT ON(employee_id) employee_id, 
       department_id 
FROM employee 
ORDER BY employee_id, primary_flag DESC;

###